Repository COS301-SE-2022/Grid-Watch, pull requests merged in 2022-07, with the labels that each got.

#196 ✨ (services): Added Services for Subtasks
  libs/api/profiles/tech-team/api/src/lib/controllers/api-profiles-tech-team-api-controller.controller.ts
  libs/api/profiles/tech-team/service/src/lib/api-profiles-tech-team-service.service.ts
  libs/api/profiles/tech-team/service/src/lib/commands/api-tech-team-command-handler.handler.ts
  libs/api/ticket/service/src/lib/api-ticket.service.ts
  libs/api/ticket/service/src/lib/commands/api-ticket-command-handler.handler.ts
  libs/api/ticket/service/src/lib/commands/api-ticket-command.command.ts
  libs/api/ticket/service/src/lib/queries/api-ticket-query.query.ts
  libs/api/ticket/service/src/lib/queries/api-ticket-quety-handler.handler.ts
Labels: priority:high, status:needs-tests, type:feature, scope:services

#203 🎨 (api): Added user dto, created controller operations for user
  angular.json
  apps/api/src/app/app.module.ts
  apps/public-e2e/src/integration/app.spec.ts
  apps/tech-team-e2e/src/integration/app.spec.ts
  libs/api/profiles/public/api/shared/api-profiles-public-api-dto/.babelrc
  libs/api/profiles/public/api/shared/api-profiles-public-api-dto/.eslintrc.json
  libs/api/profiles/public/api/shared/api-profiles-public-api-dto/README.md
  libs/api/profiles/public/api/shared/api-profiles-public-api-dto/jest.config.ts
  libs/api/profiles/public/api/shared/api-profiles-public-api-dto/package.json
  libs/api/profiles/public/api/shared/api-profiles-public-api-dto/project.json
  libs/api/profiles/public/api/shared/api-profiles-public-api-dto/src/index.ts
  libs/api/profiles/public/api/shared/api-profiles-public-api-dto/src/lib/user-dto.spec.ts
  libs/api/profiles/public/api/shared/api-profiles-public-api-dto/src/lib/user-dto.ts
  libs/api/profiles/public/api/shared/api-profiles-public-api-dto/tsconfig.json
  libs/api/profiles/public/api/shared/api-profiles-public-api-dto/tsconfig.lib.json
  libs/api/profiles/public/api/shared/api-profiles-public-api-dto/tsconfig.spec.json
  libs/api/profiles/public/api/src/lib/api-profiles-public-api.module.ts
  libs/api/profiles/public/api/src/lib/controllers/api-profiles-public-api-controller.controller.spec.ts
  libs/api/profiles/public/api/src/lib/controllers/api-profiles-public-api-controller.controller.ts
  libs/api/ticket/api/src/lib/controllers/api-ticket-api-controller.controller.ts
  package.json
  tsconfig.base.json
  yarn.lock
Labels: priority:high, scope:api, status:ready, type:change

#209 ✨ (api): Added controller endpionts for admin
  apps/api/src/app/app.module.ts
  libs/api/profiles/admin/api/src/lib/api-profiles-admin-api-controller.controller.spec.ts
  libs/api/profiles/admin/api/src/lib/api-profiles-admin-api-controller.controller.ts
  libs/api/profiles/admin/api/src/lib/api-profiles-admin-api.module.ts
  libs/api/profiles/admin/repository/src/index.ts
  libs/api/profiles/admin/service/src/index.ts
  libs/api/profiles/admin/service/src/lib/api-profiles-admin-service.module.ts
  libs/api/profiles/admin/service/src/lib/api-profiles-admin-service.service.spec.ts
  libs/api/profiles/admin/service/src/lib/api-profiles-admin-service.service.ts
  libs/api/profiles/admin/service/src/lib/commands/api-profiles-admin-command-handler.handler.ts
  libs/api/profiles/admin/service/src/lib/commands/api-profiles-admin-command.command.ts
  libs/api/profiles/admin/service/src/lib/queries/api-profiles-admin-query-handler.handler.ts
  libs/api/profiles/admin/service/src/lib/queries/api-profiles-admin-query.query.ts
  libs/api/profiles/public/api/src/lib/controllers/api-profiles-public-api-controller.controller.spec.ts
  libs/api/profiles/public/api/src/lib/controllers/api-profiles-public-api-controller.controller.ts
  libs/api/profiles/public/service/src/index.ts
  libs/api/profiles/public/service/src/lib/api-profiles-public-service.module.ts
  libs/api/profiles/public/service/src/lib/api-profiles-public.service.spec.ts
  libs/api/profiles/public/service/src/lib/api-profiles-public.service.ts
  libs/api/profiles/public/service/src/lib/commands/api-profiles-public-command-handler.handler.ts
  libs/api/profiles/public/service/src/lib/commands/api-profiles-public-command.command.ts
  libs/api/profiles/public/service/src/lib/queries/api-profiles-public-query-handler.handler.ts
  libs/api/profiles/public/service/src/lib/queries/api-profiles-public-query.query.ts
Labels: scope:api, status:on-hold, type:feature, priority:high-med

#217 🐛 (api) : Fixed issue with dependencies
  libs/api/profiles/admin/api/src/lib/api-profiles-admin-api.module.ts
  libs/api/profiles/admin/service/src/lib/api-profiles-admin-service.module.ts
  libs/api/profiles/public/api/src/lib/api-profiles-public-api.module.ts
  libs/api/profiles/public/service/src/lib/api-profiles-public-service.module.ts
Labels: priority:high, scope:api, status:ready, type:fix

#223 🐛🗃️(db) : Added additional crud + tests + fixed testing
  libs/api/profiles/admin/api/shared/api-profiles-admin-api-dto/src/lib/admin-dto.ts
  libs/api/profiles/admin/repository/src/lib/api-profiles-admin-repository-data-access.spec.ts
  libs/api/profiles/admin/repository/src/lib/api-profiles-admin-repository-data-access.ts
  libs/api/profiles/admin/service/src/lib/queries/api-profiles-admin-query-handler.handler.ts
  libs/api/profiles/public/repository/src/lib/api-profiles-public-repository-data-access.spec.ts
  libs/api/profiles/tech-team/api/shared/techteamdto/src/lib/api-profiles-tech-team-api-shared-techteamdto.ts
  libs/api/profiles/tech-team/repository/src/lib/api-profiles-tech-team-repository-data-access.spec.ts
  libs/api/profiles/tech-team/repository/src/lib/api-profiles-tech-team-repository-data-access.ts
  libs/api/ticket/api/shared/ticketdto/src/lib/api-ticket-api-shared-ticketdto.ts
  libs/api/ticket/repository/src/lib/api-ticket-repository-data-access.spec.ts
  libs/api/ticket/repository/src/lib/api-ticket-repository-data-access.ts
  package.json
  prisma/admins.ts
  prisma/migrations/20220609093748_assigned_tickets/migration.sql
  prisma/migrations/20220714100316_updated_techteam_specialisations/migration.sql
  prisma/migrations/20220714165807_removed_techteamticket/migration.sql
  prisma/migrations/20220714185228_fixedbug_intickets/migration.sql
  prisma/migrations/20220717131214_/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  prisma/subtasks.ts
  prisma/techteams.ts
  prisma/tickets.ts
  prisma/users.ts
  yarn.lock
Labels: priority:high, scope:db, status:on-hold, type:feature, type:fix, type:test

#229 ✨ (api): Added controller endpoints for Tech Team
  libs/api/profiles/tech-team/api/src/lib/controllers/api-profiles-tech-team-api-controller.controller.ts
  libs/api/profiles/tech-team/service/src/lib/api-profiles-tech-team-service.module.ts
  libs/api/profiles/tech-team/service/src/lib/api-profiles-tech-team-service.service.spec.ts
  libs/api/profiles/tech-team/service/src/lib/api-profiles-tech-team-service.service.ts
  libs/api/profiles/tech-team/service/src/lib/commands/api-tech-team-command-handler.handler.ts
  libs/api/profiles/tech-team/service/src/lib/commands/api-tech-team-command.command.ts
  libs/api/profiles/tech-team/service/src/lib/queries/api-tech-team-query-handler.handler.ts
  libs/api/profiles/tech-team/service/src/lib/queries/api-tech-team-query.query.ts
Labels: priority:high, status:ready, type:enhance, scope:services

#235 🗃️(db) : Updated seeds to show hashed password
  libs/api/profiles/public/api/shared/api-profiles-public-api-dto/src/lib/user-dto.ts
  libs/api/profiles/public/repository/src/lib/api-profiles-public-repository-data-access.ts
  libs/api/ticket/api/shared/ticketdto/src/lib/api-ticket-api-shared-ticketdto.ts
  libs/api/ticket/repository/src/lib/api-ticket-repository-data-access.spec.ts
  libs/api/ticket/repository/src/lib/api-ticket-repository-data-access.ts
  libs/public/user-profile/src/lib/login-page/login-page.component.html
  libs/public/user-profile/src/lib/login-page/login-page.component.ts
  prisma/admins.ts
  prisma/migrations/20220721172719_addedlocationandusersticket/migration.sql
  prisma/migrations/20220721182733_addedstreetaddress/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  prisma/techteams.ts
  prisma/tickets.ts
  prisma/users.ts
Labels: priority:high, scope:db, status:ready, type:feature

#240 ✨ (api): Add controllers and service layer functions
  libs/api/profiles/public/api/src/lib/controllers/api-profiles-public-api-controller.controller.ts
  libs/api/profiles/public/service/src/lib/api-profiles-public-service.module.ts
  libs/api/profiles/public/service/src/lib/api-profiles-public.service.ts
  libs/api/profiles/public/service/src/lib/commands/api-profiles-public-command-handler.handler.ts
  libs/api/profiles/public/service/src/lib/commands/api-profiles-public-command.command.ts
  libs/api/profiles/public/service/src/lib/queries/api-profiles-public-query-handler.handler.ts
  libs/api/profiles/public/service/src/lib/queries/api-profiles-public-query.query.ts
  libs/api/ticket/api/src/lib/controllers/api-ticket-api-controller.controller.ts
  libs/api/ticket/service/src/lib/api-ticket-service.module.ts
  libs/api/ticket/service/src/lib/api-ticket.service.ts
  libs/api/ticket/service/src/lib/commands/api-ticket-command-handler.handler.ts
  libs/api/ticket/service/src/lib/commands/api-ticket-command.command.ts
  libs/public/home-page/src/lib/home-page-body/home-page-body.component.spec.ts
  libs/public/home-page/src/lib/home-page-body/home-page-body.component.ts
Labels: priority:high, scope:api, status:not-ready, type:change, scope:services

#239 (UI) : Login functionality for admin and tech team application
  angular.json
  apps/admin/src/app/app.module.ts
  libs/admin-app/profile/.eslintrc.json
  libs/admin-app/profile/README.md
  libs/admin-app/profile/jest.config.ts
  libs/admin-app/profile/project.json
  libs/admin-app/profile/src/index.ts
  libs/admin-app/profile/src/lib/account-information/account-information.component.html
  libs/admin-app/profile/src/lib/account-information/account-information.component.scss
  libs/admin-app/profile/src/lib/account-information/account-information.component.spec.ts
  libs/admin-app/profile/src/lib/account-information/account-information.component.ts
  libs/admin-app/profile/src/lib/admin-app-profile.module.ts
  libs/admin-app/profile/src/lib/admin-profile/admin-profile.component.html
  libs/admin-app/profile/src/lib/admin-profile/admin-profile.component.scss
  libs/admin-app/profile/src/lib/admin-profile/admin-profile.component.spec.ts
  libs/admin-app/profile/src/lib/admin-profile/admin-profile.component.ts
  libs/admin-app/profile/src/lib/login-page/login-page.component.html
  libs/admin-app/profile/src/lib/login-page/login-page.component.scss
  libs/admin-app/profile/src/lib/login-page/login-page.component.spec.ts
  libs/admin-app/profile/src/lib/login-page/login-page.component.ts
  libs/admin-app/profile/src/lib/register-page/register-page.component.html
  libs/admin-app/profile/src/lib/register-page/register-page.component.scss
  libs/admin-app/profile/src/lib/register-page/register-page.component.spec.ts
  libs/admin-app/profile/src/lib/register-page/register-page.component.ts
  libs/admin-app/profile/src/test-setup.ts
  libs/admin-app/profile/tsconfig.json
  libs/admin-app/profile/tsconfig.lib.json
  libs/admin-app/profile/tsconfig.spec.json
  libs/api/profiles/admin/api/src/lib/api-profiles-admin-api-controller.controller.ts
  libs/api/profiles/admin/repository/src/lib/api-profiles-admin-repository-data-access.ts
  libs/api/profiles/tech-team/api/src/lib/controllers/api-profiles-tech-team-api-controller.controller.ts
  libs/api/profiles/tech-team/repository/src/lib/api-profiles-tech-team-repository-data-access.ts
  libs/public/home-page/src/lib/home-page-body/home-page-body.component.spec.ts
  libs/public/home-page/src/lib/home-page-body/home-page-body.component.ts
  libs/shared-ui/src/index.ts
  libs/shared-ui/src/lib/nav-bar/nav-bar.component.html
  libs/shared-ui/src/lib/nav-bar/nav-bar.component.ts
  libs/shared-ui/src/lib/services/GoogleMaps/google-maps.service.ts
  libs/shared-ui/src/lib/services/admin-profile/admin-profile.service.spec.ts
  libs/shared-ui/src/lib/services/admin-profile/admin-profile.service.ts
  libs/shared-ui/src/lib/services/tech-team-profile/tech-team-profile.service.spec.ts
  libs/shared-ui/src/lib/services/tech-team-profile/tech-team-profile.service.ts
  libs/tech-team/profile/src/index.ts
  libs/tech-team/profile/src/lib/login-page/login-page.component.html
  libs/tech-team/profile/src/lib/login-page/login-page.component.scss
  libs/tech-team/profile/src/lib/login-page/login-page.component.spec.ts
  libs/tech-team/profile/src/lib/login-page/login-page.component.ts
  libs/tech-team/profile/src/lib/register-tech-team/register-tech-team.component.html
  libs/tech-team/profile/src/lib/register-tech-team/register-tech-team.component.scss
  libs/tech-team/profile/src/lib/register-tech-team/register-tech-team.component.spec.ts
  libs/tech-team/profile/src/lib/register-tech-team/register-tech-team.component.ts
  libs/tech-team/profile/src/lib/tech-team-profile.module.ts
  libs/tech-team/profile/src/lib/tech-team-profile/tech-team-profile.component.html
  libs/tech-team/profile/src/lib/tech-team-profile/tech-team-profile.component.scss
  libs/tech-team/profile/src/lib/tech-team-profile/tech-team-profile.component.spec.ts
  libs/tech-team/profile/src/lib/tech-team-profile/tech-team-profile.component.ts
  libs/tech-team/ticket/src/lib/tech-team-ticket.module.ts
  tsconfig.base.json
  yarn.lock
Labels: scope:repository, scope:ui, status:not-ready, type:enhance, type:feature, priority:high-med

#244 :lipstick: (UI): Public, admin and tech team changes
  apps/public/src/app/app.module.ts
  libs/admin-app/dashboard/src/lib/admin-app-dashboard.module.ts
  libs/admin-app/dashboard/src/lib/dashboard-body/dashboard-body.component.html
  libs/admin-app/dashboard/src/lib/dashboard-body/dashboard-body.component.scss
  libs/admin-app/dashboard/src/lib/dashboard-body/dashboard-body.component.ts
  libs/admin-app/dashboard/src/lib/dashboard-overview/dashboard-overview.component.html
  libs/admin-app/dashboard/src/lib/dashboard-overview/dashboard-overview.component.ts
  libs/admin-app/dashboard/src/lib/dashboard-timeline/dashboard-timeline.component.html
  libs/admin-app/ticket/src/lib/admin-view-body/admin-view-body.component.html
  libs/admin-app/ticket/src/lib/admin-view-body/admin-view-body.component.scss
  libs/admin-app/ticket/src/lib/admin-view-body/admin-view-body.component.ts
  libs/public/home-page/src/lib/home-page-body/home-page-body.component.html
  libs/public/home-page/src/lib/home-page-body/home-page-body.component.scss
  libs/public/home-page/src/lib/public-home-page.module.ts
  libs/public/ticket/src/lib/create-ticket/create-ticket.component.ts
  libs/public/ticket/src/lib/public-ticket.module.ts
  libs/public/ticket/src/lib/ticket-body/ticket-body.component.html
  libs/public/ticket/src/lib/ticket-body/ticket-body.component.scss
  libs/public/ticket/src/lib/ticket-body/ticket-body.component.ts
  libs/public/ticket/tsconfig.spec.json
  libs/public/user-profile/src/lib/login-page/login-page.component.html
  libs/public/user-profile/src/lib/login-page/login-page.component.spec.ts
  libs/public/user-profile/src/lib/login-page/login-page.component.ts
  libs/public/user-profile/src/lib/my-profile/my-profile.component.scss
  libs/public/user-profile/src/lib/my-tickets-list/my-tickets-list.component.html
  libs/public/user-profile/src/lib/my-tickets-list/my-tickets-list.component.scss
  libs/public/user-profile/src/lib/my-tickets-list/my-tickets-list.component.ts
  libs/public/user-profile/src/lib/public-user-profile.module.ts
  libs/shared-assets/src/lib/shared-images/background-curve.png
  libs/shared-assets/src/lib/shared-images/home-1.jpg
  libs/shared-assets/src/lib/shared-images/home-2.jpg
  libs/shared-assets/src/lib/shared-images/home-short-about.png
  libs/shared-assets/src/lib/shared-images/issue-brokenlight.svg
  libs/shared-assets/src/lib/shared-images/issue-brokenpower.svg
  libs/shared-assets/src/lib/shared-images/issue-brokenrobot.svg
  libs/shared-assets/src/lib/shared-images/issue-maintenance.svg
  libs/shared-assets/src/lib/shared-images/issue-pothole.svg
  libs/shared-assets/src/lib/shared-images/issue-sinkhole.svg
  libs/shared-assets/src/lib/shared-images/issue-water.svg
  libs/shared-assets/src/lib/shared-images/logo-sm.png
  libs/shared-assets/src/lib/shared-images/logo-w.png
  libs/shared-assets/src/lib/shared-images/logo-white.png
  libs/shared-assets/src/lib/shared-images/profile.svg
  libs/shared-ui/src/lib/app-header/app-header.component.html
  libs/shared-ui/src/lib/app-header/app-header.component.scss
  libs/shared-ui/src/lib/app-header/app-header.component.ts
  libs/shared-ui/src/lib/menu-options/menu-options.component.html
  libs/shared-ui/src/lib/menu-options/menu-options.component.scss
  libs/shared-ui/src/lib/nav-bar/nav-bar.component.html
  libs/shared-ui/src/lib/nav-bar/nav-bar.component.scss
  libs/shared-ui/src/lib/nav-bar/nav-bar.component.ts
  libs/shared-ui/src/lib/shared-ui.module.ts
  libs/tech-team/general-ui/src/lib/menu-bar/menu-bar.component.html
  libs/tech-team/general-ui/src/lib/menu-bar/menu-bar.component.scss
  libs/tech-team/ticket/src/lib/accepted-ticket-view/accepted-ticket-view.component.html
  libs/tech-team/ticket/src/lib/edit-accepted-ticket/edit-accepted-ticket.component.html
Labels: scope:design, scope:ui, status:ready, type:cosmetic, priority:high-med

#246 🌱⬆️(db) : Updated dependencies and seed files
  prisma/migrations/20220726224052_changeduseridfieldadmin/migration.sql
  prisma/migrations/20220726224750_updatedfieldstreetaddress/migration.sql
  prisma/pictures.ts
  prisma/schema.prisma
  prisma/seed.ts
  prisma/techteams.ts
  prisma/tickets.ts
Labels: priority:high, scope:db, status:needs-info, type:fix

#247 ✨ (ai): Added get average cost by area function
  libs/api/ai/ticket/service/src/lib/api-ai-ticket-service.module.ts
  libs/api/ai/ticket/service/src/lib/api-ai-ticket-service.service.ts
  libs/api/ai/ticket/service/src/lib/queries/api-ai-ticket-query-handler.handler.ts
  libs/api/ai/ticket/service/src/lib/queries/api-ai-ticket-query.query.ts
  libs/api/ticket/api/shared/ticketdto/src/lib/api-ticket-api-shared-ticketdto.ts
  libs/api/ticket/service/src/lib/api-ticket-service.module.ts
  libs/api/ticket/service/src/lib/queries/api-ticket-quety-handler.handler.ts
  libs/public/home-page/src/lib/home-page-body/home-page-body.component.ts
  libs/public/ticket/src/lib/create-ticket/create-ticket.component.ts
  prisma/migrations/20220722112700_optional_user_relations/migration.sql
Labels: priority:high, scope:api, status:not-ready, type:change, scope:services

#253 (UI) : Added view with ticket clustering
  apps/public-e2e/src/integration/app.spec.ts
  libs/public/ticket/src/lib/create-ticket/create-ticket.component.html
  libs/public/ticket/src/lib/ticket-body-map/ticket-body-map.component.ts
  libs/tech-team/profile/src/lib/tech-team-profile/tech-team-profile.component.ts
Labels: scope:ui, status:ready, type:fix, priority:high-med

#250 ✅ (test): Added unit testing for admin and public
  libs/api/profiles/admin/api/src/lib/api-profiles-admin-api-controller.controller.spec.ts
  libs/api/profiles/admin/api/src/lib/api-profiles-admin-api-controller.controller.ts
  libs/api/profiles/admin/service/src/lib/api-profiles-admin-service.service.spec.ts
  libs/api/profiles/admin/service/src/lib/api-profiles-admin-service.service.ts
  libs/api/profiles/admin/service/src/lib/queries/api-profiles-admin-query-handler.handler.ts
  libs/api/profiles/admin/service/src/lib/queries/api-profiles-admin-query.query.ts
  libs/api/profiles/public/api/src/lib/controllers/api-profiles-public-api-controller.controller.spec.ts
  libs/api/profiles/public/api/src/lib/controllers/api-profiles-public-api-controller.controller.ts
  libs/api/profiles/public/service/src/lib/api-profiles-public.service.spec.ts
Labels: priority:high, scope:api, status:ready, type:test, scope:services
